@model AllCarsViewModel

@{
    ViewData["Title"] = "All Car";
}

<div class="mb-5 my-all-search">
    <form method="get" class="trip-form">

        <div class="row align-items-center">

            <div class="mb-3 mb-md-0 col-md-3">
                <select asp-for="Brand" class="form-control">
                    <option value="">All</option>
                    @foreach (var brand in Model.Brands)
                    {
                        <option value="@brand">@brand</option>
                    }
                </select>
            </div>
            <div class="mb-3 mb-md-0 col-md-3">
                <div class="form-control-wrap">
                    <input asp-for="Search" class="form-control" placeholder="Search Car etc...">
                    <span asp-for="Search"></span>

                </div>
            </div>
            <div class="mb-3 mb-md-0 col-md-3">
                <select asp-for="Sorting" class="form-control">
                    <option value="0" selected>Year</option>
                    <option value="1">Price</option>
                    <option value="2">Brand And Model</option>
                </select>
            </div>
            <div class="mb-3 mb-md-0 col-md-3">
                <input type="submit" value="Search Now" class="btn btn-primary btn-block py-3">
            </div>
        </div>
    </form>
</div>


@if (!Model.Cars.Any())
{
    <h2 style="text-align:center">No cars Found!</h2>
}

<div>
    <div class="container">
        <div class="col-lg-7">
            <h2 class="section-heading"><strong>Car Listings</strong></h2>
            <p class="mb-5">Choose the car you want to own or rent.</p>
        </div>

        <div class="row">
            @foreach (var cars in Model.Cars)
            {
                <div class="col-md-6 col-lg-4 mb-4">

                    <div class="listing d-block  align-items-stretch">
                        <div class="listing-img h-100 mr-4">
                            <img class="card-img-top" src="@cars.ImageUrl" alt="Image">
                        </div>
                        <div class="listing-contents h-100">
                            <h3>@cars.Brand @cars.Model</h3>
                            <div class="rent-price">
                                <strong>$@cars.RentPricePerDay</strong><span class="mx-1">/</span>day
                            </div>
                            <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                                <div class="listing-feature pr-4">
                                    <span class="caption">Luggage:</span>
                                    <span class="number">@cars.Lugage</span>
                                </div>
                                <div class="listing-feature pr-4">
                                    <span class="caption">Doors:</span>
                                    <span class="number">@cars.Doors</span>
                                </div>
                                <div class="listing-feature pr-4">
                                    <span class="caption">Passenger:</span>
                                    <span class="number">@cars.Passager</span>
                                </div>
                            </div>
                            <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                                <div class="listing-feature pr-4">
                                    <span class="caption">Fuel:</span>
                                    <span class="number">@cars.Fuel</span>
                                </div>
                                <div class="listing-feature pr-4">
                                    <span class="caption">Transmision:</span>
                                    <span class="number">@cars.Transmission</span>
                                </div>
                                <div class="listing-feature pr-4">
                                    <span class="caption">Location:</span>
                                    <span class="number">@cars.LocationName</span>
                                </div>
                            </div>
                            <div>
                                <p>@cars.Description</p>
                                <p class="d-inline"><a asp-action="Rent" asp-controller="RentCars" asp-route-id="@cars.Id" class="btn btn-primary btn-sm"> Rent Now</a></p>
                                <p class="d-inline"><a asp-action="Buy" asp-controller="BuyCars" asp-route-id="@cars.Id" class="btn btn-primary btn-sm"> Buy Now</a></p>
                                <p class="d-inline"><a asp-action="Details" asp-controller="Cars" asp-route-id="@cars.Id" class="btn btn-primary btn-sm"> Details</a></p>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>

@{
    var previosPage = Model.CurentPage - 1;

    if (previosPage < 1)
    {
        previosPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalCars / AllCarsViewModel.CarPerPage);
}
<div class="row">
    <div class="col-md-6">
        <a class="btn btn-primary
           @(Model.CurentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Cars"
           asp-action="All"
           asp-route-CurentPage="@previosPage"
           asp-route-brand="@Model.Brand"
           asp-route-serch="@Model.Search"
           asp-route-sorting="@((int)Model.Sorting)"><< Back</a>

    </div>
    <div class="col-md-6">
        <a class="btn btn-primary
        float-right @(Model.CurentPage == maxPage ? "disabled" : string.Empty)"
           asp-controller="Cars"
           asp-action="All"
           asp-route-CurentPage="@(Model.CurentPage + 1)"
           asp-route-brand="@Model.Brand"
           asp-route-serch="@Model.Search"
           asp-route-sorting="@((int)Model.Sorting)">Next >></a>
    </div>
</div>
