@model CarServiceListingViewModel

@{ ViewData["Title"] = "Details"; }

<h1 class="display-4 text-center"><i class="fas fa-car" style="color: black"></i> @Model.Brand @Model.Model</h1>
<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
    <div class="card text-center"  style="width: 35rem">

        <img class="card-img-top"src="@Model.ImageUrl" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@Model.Brand @Model.Model - @Model.Year </h5>
            <p class="card-text">@Model.Description</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Category: @Model.Category</li>
            <li class="list-group-item">Fuel: @Model.Fuel</li>
            <li class="list-group-item">Transimition: @Model.Transmission</li>
            <li class="list-group-item">Fuel: @Model.Fuel</li>
            <li class="list-group-item">Passager: @Model.Passager</li>
            <li class="list-group-item">Lugage: @Model.Lugage</li>
            <li class="list-group-item">Location: @Model.Locaton</li>
            <li class="list-group-item"><i class="my-stile fas fa-shopping-cart"></i>Buy Price: @Model.Price$</li>
            <li class="list-group-item"><i class="my-stile fas fa-id-card"></i>Rent Price: @Model.RentPricePerDay$</li>
        </ul>
        <div class="card-body">
            <button type="button" class="my-button btn btn-danger">Buy</button>
            <button type="button" class="my-button btn btn-success">Rent</button>
            @if (User.IsAdmin())
            {
            <a asp-controller="Cars" asp-action="Edit" asp-route-id="@Model.Id" class="my-button btn  btn-warning">Edit</a>
            <a asp-controller="Cars" asp-action="Delete" asp-route-id="@Model.Id" class="my-button btn btn-dark">Delete</a>
            }
        </div>
    </div>
</div>