@model IEnumerable<CarServiceListingViewModel>
@{
    ViewBag.Title = "Administration Area";
}

<h1 class="display-4 text-center"><i class="fas fa-car" style="color: darkorange"></i> Rented Cars</h1>

<h5 class="text-center" style="padding-top:50px;"><i class="fas fa-car" style="color:darkorange;"></i> @Model.Count() rented</h5>
<br />

<div style="background-color:white">

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Brand</th>
                <th scope="col">Model</th>
                <th scope="col">Year</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Rent Price</th>
                <th scope="col">Approved</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model)
            {
                <tr>
                    <td scope="col">@car.Brand</td>
                    <td scope="col">@car.Model</td>
                    <td scope="col">@car.Year</td>
                    <td scope="col">@car.Category</td>
                    <td scope="col">@car.Price</td>
                    <td scope="col">@car.RentPricePerDay</td>
                    <td scope="col">@(car.IsPublic ? "Yes" : "No")</td>
                    <td scope="col">
                        <div class="btn-group" role="group" aria-label="Delete">
                            <a asp-area="" asp-controller="Cars" asp-action="Delete" asp-route-id="@car.Id" class="btn btn-danger">Delete</a>
                            <a asp-area="" asp-controller="Cars" asp-action="Details" asp-route-id="@car.Id" class="btn btn-dark">More</a>
                        </div>
                    </td>
                </tr>
            }

    </table>
</div>